@mixin for-mobile {
    @media (max-width: 1439px) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: 1440px) {
        @content;
    }
}

.desktop-only {
    @media (max-width: 1439px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 1440px) {
        display: none !important;
    }
}