@mixin for-mobile {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin for-desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

.desktop-only {
    @media (max-width: 1023px) {
        display: none !important;
    }
}

.mobile-only {
    @media (min-width: 1024px) {
        display: none !important;
    }
}