
// -----------------------------------------------------
// NEUTRAL COLORS
// -----------------------------------------------------
$color-white: #FFFFFF;
$color-black: #000000;
$color-snow: #FAFCFF;
$color-smoke: #ECECEC;
$color-coal: #2A2A48;
$color-gray: #8493A8;
$color-graphene: #485363;
$color-dark-gray: #505357;
$color-titan-white: #F2F0FF;

$color-coal-60: rgba($color-coal, 0.60);
$color-black-80: rgba($color-black, 0.80);
$color-gray-40: rgba($color-gray, 0.40);
$color-white-90: rgba($color-white, 0.90);
$color-white-20: rgba($color-white, 0.20);
$color-smoke-50: rgba($color-smoke, 0.50);
$color-smoke-30: rgba($color-smoke, 0.30);
$color-smoke-16: rgba($color-smoke, 0.16);

// -----------------------------------------------------
// BRAND COLORS
// -----------------------------------------------------
$color-primary: #FF27AD;
$color-secondary: #0099A8;
$color-dark-primary: #F1129C;
$color-dark-secondary: #138A96;

$color-primary-10: rgba($color-primary, 0.10);
$color-secondary-10: rgba($color-secondary, 0.10);

// -----------------------------------------------------
// FEEDBACK COLORS 
// -----------------------------------------------------
$color-success: #32AD54;
$color-warning: #FFD467;
$color-error: #FA4C44;