.mobile-menu {
    &__user {
        &-list {
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 16px;
            background-color: $color-smoke-30;
        }

        &-button {
            display: flex;
            align-items: center;
            justify-content: end;
            width: 100%;
            height: 24px;
            gap: 14px;
            border: 0;
            background-color: transparent;
            cursor: pointer;
        }

        &-label {
            font-size: $text-sm;
            font-weight: $fw-medium;
            color: $color-graphene;
        }
    }
}