.mobile-menu {
    &__panels {
        position: relative;
        flex: 1 1 auto;
        padding-top: 56px;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }

    &__panel {
        position: absolute;
        padding: 16px;
        inset: 0;
        transform: translateX(100%);
        transition: transform 100ms ease-in-out;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: $color-white;
        z-index: 1;

        &.is-active {
            transform: translateX(0);
        }

        &-header {
            margin-bottom: 16px;
        }

        &-pill {
            display: flex;
            align-items: center;
            justify-content: end;
            height: 40px;
            gap: 8px;
            background-color: $color-smoke-30;

            &-label {
                font-weight: $fw-medium;
                color: $color-coal;
            }
        }

        &.is-children-active {
            .mobile-menu__item-label {
                color: $color-graphene;
                font-weight: $fw-regular;
            }
        }
    }
}