.mobile-menu {
    &__item {
        &-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 24px;
            gap: 8px;
            font-size: $text-base;
            background: transparent;
            border: 0;
            color: $color-coal;
            cursor: pointer;
        }

        &-divider {
            margin-top: 8px !important;
        }

        &-left {
            display: flex;
            align-items: center;
        }

        &-label {
            color: $color-coal;
            font-weight: $fw-medium;
        }
    }
}
