.mobile-menu-overlay {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    inset: 0;
    background: rgba(0, 0, 0, 0.36);
    z-index: 1000;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 300px;
    background: $color-white;
    transform: translateX(0);
}

.mobile-menu {

    &__panel {
        &.is-children-active {

            .mobile-menu__item-label {
                color: $color-graphene;
                font-weight: $fw-regular;
            }

        }
    }

}

.mobile-menu-enter-active,
.mobile-menu-leave-active {
    transition: opacity 200ms ease-in-out;
}

.mobile-menu-enter-from,
.mobile-menu-leave-to {
    opacity: 0;
}

.mobile-menu-enter-to,
.mobile-menu-leave-from {
    opacity: 1;
}

.mobile-menu-enter-active .mobile-menu,
.mobile-menu-leave-active .mobile-menu {
    transition: transform 100ms ease-in-out;
}

.mobile-menu-enter-from .mobile-menu,
.mobile-menu-leave-to .mobile-menu {
    transform: translateX(100%);
}

.mobile-menu-enter-to .mobile-menu,
.mobile-menu-leave-from .mobile-menu {
    transform: translateX(0);
}
